html{
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding: 0;
  transition: 0.7s ease-in-out;
}
body{
  background-color: #E7E5DF;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.content p{
  z-index: 1000;
  position:absolute;
  text-align: center;
  width:20%;
  padding:100px;
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 5em;
  padding-top: 200px;
  padding-left: 15px;
}
span{
  font-size: 0.5em;
  font-family: 'Delius', cursive;
}
.content{
  float:left;
  width:25%;
}
.navigation{
  clear:left;
}
.slides{
  overflow: hidden;
  height: 650px;
  max-height: 100%;
}
.slides figure div{
  width:20%;
  float: left;
}
.slides figure img{
  width:100%;
  float: left;
  height: 650px;
  max-height:100%;
}
.test{
  height: 650px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}
.slides figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slidy infinite;
}

@keyframes slidy {
  0%{
    left:0%;
  }
  10%{
    left: 0%;
  }
  12%{
    left:-100%;
  }
  22%{
    left: -100%;
  }
  24%{
    left: -200%;
  }
  34%{
    left: -200%;
  }
  36%{
    left: -300%;
  }
  46%{
    left: -300%;
  }
  48%{
    left: -400%;
  }
  58%{
    left:-400%;
  }
  60%{
    left: -300%;
  }
  70%{
    left:-300%;
  }
  72%{
    left: -200%;
  }
  82%{
    left: -200%;
  }
  84%{
    left:-100%;
  }
  94%{
    left: -100%;
  }
  96%{
    left:0%;
  }
}
.banner{
  background-color: #A9ACA9;
  padding:20px;
  padding-left:10px;
  width: 100%;
}
nav{
 float:right;
 padding-right: 0;
 margin-right: 20px;
}
nav>ul>li{
  display: inline;
  padding: 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
nav>ul>li>a{
  text-decoration: none;
  color: #393E41;
  font-family: 'PT Sans Narrow', sans-serif;
}
.banner p{
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
  font-size: 2em;
  color: #393E41;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.box{
  display:flex;
  justify-content: space-around;
}
.box div{
  max-width: 100%;
  margin: 30px;
}
.box div img{
  width :400px;
  height :400px;
}
.about{
  text-align: center;
  margin: 30px;
  padding-left:40px;
  font-family: 'Open Sans', sans-serif;
}
.projects-box{
  text-align: center;
}
.square{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.projects{
  width:30%;
  font-size: 8em;
}
.projects i{
  margin-bottom: -100px;
  color: #A9ACA9;
}
.square div p{
  font-size: 0.8em;
}
button{
  padding-top: 0;
  padding: 10px;
  background-color: #A9ACA9;
}
.reachout button{
  padding: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 30px;
  border: 3px solid #EB6534;
  background-color: #A6D9F7;
}
#contacts-form {
  float:right;
  width:500px;
  z-index: 1;
  background-position: relative;
  padding:30px;
  margin:0 auto 100px;
  margin-top: -7%;
  margin-bottom: 1%;
}
#contacts-form input{
  outline: 1;
  width: 100%;
  border: 0;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing:border-box;
  background-color:#f2f2f2;
}
#contacts-form button{
  background-color: #393E41;
  color: white;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border: 0;
}
.try{
  margin-bottom: 20px;
  margin-top: 300px;
  text-align: center;
}
.try p{
  margin-bottom: 20px;
}
.contacts div{
  display: inline-block;
  padding: 5px;
}
.contacts i{
  color: #A9ACA9;
  font-size: 2em;
}
