html{
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding: 0;
  transition: 0.7s ease-in-out;
}
body{
  background-color: #E7E5DF;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.content p{
  z-index: 1000;
  position:absolute;
  text-align: center;
  width:20%;
  padding:100px;
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 5em;
  padding-top: 200px;
  padding-left: 15px;
}
span{
  font-size: 0.5em;
  font-family: 'Delius', cursive;
}
.content{
  float:left;
  width:25%;
}
